{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
 <!-- CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/password_reset.css' %}">

</head>
<body>
    <div class="card">
        <h2>Reset Your Password</h2>

        {% if messages %}
            {% for message in messages %}
                <p class="message">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="uid" value="{{ uid }}">
            <input type="hidden" name="token" value="{{ token }}">
            
            <input type="password" name="new_password" placeholder="New Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
